<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TFG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="MongoDBConnectionString" connectionString="mongodb+srv://abrahamrodriguez:1234@cmtaskmanagerdb.7lckevs.mongodb.net/TFG-BDD?retryWrites=true&amp;w=majority" />
	</connectionStrings>
	<userSettings>
		<TFG.Properties.Settings>
			<setting name="Language" serializeAs="String">
				<value>es-ES</value>
			</setting>
		</TFG.Properties.Settings>
	</userSettings>
</configuration>